@font-face {
  font-family: "rader";
  src: url("/fonts/rader/PPRader-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "rader";
  src: url("/fonts/rader/PPRader-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "formula";
  src: url("/fonts/formula/PPFormula-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "formula";
  src: url("/fonts/formula/PPFormula-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "supply-mono";
  src: url("/fonts/supply-mono/PPSupplyMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "supply-mono";
  src: url("/fonts/supply-mono/PPSupplyMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
